<h3> Add New Stylist</h3>

<form action="stylists" method="post">
	<div class="form-group">
		<label class="form-label" for='name'>Add a New Stylist:</label>
		<input class="form-control" id="name" name="name" type="text" placeholder="List Name" autofocus>
		<button type='submit' class='button btn'>Add Stylist</button>
	</div>
</form>		